body {
    font-family: "Courier New", Courier, monospace;
}

header {
    padding: 10px;
    text-align: center;
    width: 80vw;
    display: inline-block;
    justify-content: center;
    margin-bottom: 20px;
    
}

header h1 {
    font-size: 90px;
    margin: 5px;
    background-color: #383838;
    text-align: left;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
}

a {
    margin-left: 10px;
    color: #333;
    font-size: 36px;
}

#contactCard {
    display: flex;
    justify-content: center;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    padding: 20px;
    background-color: #c0bebe;
    margin-bottom: 20px;
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

h2 {
    font-size: 65px;
    background-color: #383838;
    width: 80vw;
    color: white;
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.listLink {
    border: rgb(0, 0, 0) solid 2px;
    flex-grow: 1;
    padding: 10px;
    width: 100%;
    margin: 10px;
    font-weight: bold;
    border-radius: 17px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.listLinkItem {
    width: 33%;
    text-align: center;
    vertical-align: middle;
}



.contactCardButton {
    height: 30px;
    width: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: rgb(0, 0, 0) solid 2px;
    color: rgb(0, 0, 0);
}

.headerDiv { 
    display: flex;
    float: left;
}

.fadeIn {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-in-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.logoImage {
    height: 75px;
}